{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Трекер кликов{% endblock %}

{% block styles %}
    <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include 'components/navigation.html' %}

    <main role="main" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="uk-container">
            <form action='' method='get' id="user_click_traffic_filter_form"
                  class="uk-grid uk-child-width-1-4 uk-form" uk-grid>
                <div>
                    SOURCE
{#                    {% render_field user_click_traffic_filter.form.area onchange='{ this.form.submit(); }' class='uk-select' %}#}
                    {% render_field user_click_traffic_filter.form.area class='uk-select' %}
                </div>
                <div>
                    CREATED_AT
                    {% render_field user_click_traffic_filter.form.created_at hidden="True" %}
                    <input type="text" name="created_at_input" class='uk-input datetime-picker' id="created_at_input"
                           data-date-format="yyyy-mm-dd" data-time-format='hh:ii' autocomplete='off'>
                </div>
                <div>
                    <button type="submit" class="uk-button uk-button-default" style="margin-top: 23px">Отправить</button>
                </div>
            </form>

            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th>ip</th>
                    <th>area</th>
                    <th>traffic</th>
                    <th>created_at</th>
                </tr>
                </thead>
                <tbody>
                {% for item in page_obj.object_list %}
                    <tr>
                        <td>{{ item.ip }}</td>
                        <td>{{ item.get_area_display }}</td>
                        <td>{% if item.traffic %}{{ item.traffic }}{% else %}-{% endif %}</td>
                        <td>{{ item.created_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="uk-flex uk-flex-right">
                {% include 'partials/pagination.html' with pagination=page_obj %}
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script src="{% static 'js/datepicker.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js"></script>

    <script type="text/javascript">
        $('.datetime-picker').datepicker({
            timepicker: true,
            language: 'ru',
        });

        $("#user_click_traffic_filter_form").submit(function (e) {
            e.preventDefault();

            const createdAtPickerValue = $(this).find('#created_at_input').val();
            const createdAtHidden = $(this).find('#id_created_at');

            var newCreateAtDate = '';
            if (createdAtPickerValue) {
                newCreateAtDate = toTimeZone(createdAtPickerValue, "Europe/Moscow");
            }

            createdAtHidden.val(newCreateAtDate);
            this.submit()
        });

        function toTimeZone(time, zone) {
            var format = 'YYYY-MM-DD HH:mm';
            return moment(time, format).tz(zone).format(format);
        }
    </script>
{% endblock %}