{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Трекер траффика{% endblock %}

{% block styles %}
    <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include 'components/navigation.html' %}

    <main role="main" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="uk-container">
            <form action='' method='get' class="uk-grid uk-child-width-1-5 uk-form"
                  id="user_traffic_filter_form" uk-grid>
                <div>
                    SOURCE
                    {% render_field user_traffic_filter.form.source class='uk-select' %}

                </div>
                <div>
                    BALANCE_FILLED
                    {% render_field user_traffic_filter.form.balance_filled class='uk-select' %}

                </div>
                <div>
                    CREATED_AT
                    {% render_field user_traffic_filter.form.created_at hidden="True" %}
                    <input type="text" name="created_at_input" class='uk-input datetime-picker' id="created_at_input"
                           data-date-format="yyyy-mm-dd" data-time-format='hh:ii' autocomplete='off'>
                </div>
                <div>
                    UPDATED_AT
                    {% render_field user_traffic_filter.form.updated_at hidden="True" %}
                    <input type="text" name="updated_at_input" class='uk-input datetime-picker' id="updated_at_input"
                           data-date-format="yyyy-mm-dd" data-time-format='hh:ii' autocomplete='off'>
                </div>
                <div>
                    <button type="submit" class="uk-button uk-button-default" style="margin-top: 23px">Отправить</button>
                </div>
            </form>

            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th>partner_id</th>
                    <th>click_id</th>
                    <th>site_id</th>
                    <th>source</th>
                    <th>ip</th>
                    <th>created_at</th>
                    <th>updated_at</th>
                    <th>balance_filled</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{ item.partner_id }}</td>
                        <td>{{ item.click_id }}</td>
                        <td>{% if item.site_id %}{{ item.site_id }}{% else %}-{% endif %}</td>
                        <td>
                            <span class="uk-badge">
                                {{ item.get_source_display }}
                            </span>
                        </td>
                        <td>{{ item.ip }}</td>
                        <td>{{ item.created_at|date }} {{ item.created_at|time }}</td>
                        <td>{{ item.updated_at|date }} {{ item.updated_at|time }}</td>
                        <td>{{ item.balance_filled }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="uk-flex uk-flex-right">
                {% include 'partials/pagination.html' with pagination=page_obj %}
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script src="{% static 'js/datepicker.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js"></script>

    <script type="text/javascript">
        $('.datetime-picker').datepicker({
            timepicker: true,
            language: 'ru',
        });

        $("#user_traffic_filter_form").submit(function (e) {
            e.preventDefault();

            const createdAtPickerValue = $(this).find('#created_at_input').val();
            const updatedAtPickerValue = $(this).find('#updated_at_input').val();

            var newCreateAtDate = '',
                newUpdatedAtDate = '';

            if (createdAtPickerValue) {
                newCreateAtDate = toTimeZone(createdAtPickerValue, "Europe/Moscow");
            }

            if (newUpdatedAtDate) {
                newUpdatedAtDate = toTimeZone(updatedAtPickerValue, "Europe/Moscow");
            }

            $(this).find('#id_created_at').val(newCreateAtDate);
            $(this).find('#id_updated_at').val(newUpdatedAtDate);
            this.submit()
        });


        function toTimeZone(time, zone) {
            const format = 'YYYY-MM-DD HH:mm';
            return moment(time, format).tz(zone).format(format);
        }

    </script>
{% endblock %}